body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

.landing-page {
    background-image: linear-gradient(rgba(37, 38, 51, 0.7),rgba(42, 42, 52, 0.7)), url("assets/landingpage.jpg");
    background-position: center;
    background-size: cover;
}

.about {
    min-height: 90vh;
}


#about1 {
    font-size: 20px;
}

#about2 {
    font-size: 20px;
}

a, li {
    text-decoration: none;
    list-style: none;
}

li .linkedin {
    text-align: center;
}


#btnrecipe:hover {
    transform: scale(1.10);
}

#btnindex:hover {
    transform: scale(1.10);
}

.navbar-brand {
    letter-spacing: 2px;

}

ul {
    padding-left: 0;
}
/*
.meal-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: black;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 70%;
    height: 80%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}

.meal-details::-webkit-scrollbar{
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumbs{
    background: orange;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    width: 90%;

}
.showRecipe{
    display: block;
}

.meal-details-content{
    margin: 2rem;
}

.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.recipe-instructions{
    padding: 1rem 0;
}
*/
